<div class="w-100 h-75 my-5 px-5">
  <div class="mt-5 mx-auto my-auto d-flex flex-column justify-content-center align-items-between w-50 h-75">
    <button mat-raised-button
            class="py-5 mb-1"
            color="primary"
            (click)="openRecords()">
      <span class="fs-5">ARHIVA</span>
    </button>
    <button mat-raised-button
            class="py-5"
            color="primary"
            (click)="openDevices()">
      <span class="fs-5">REGISTRIRANI UREĐAJI</span>
    </button>
  </div>
</div>
