<div class="w-100 my-5 px-md-5">
  <div class="mt-5 mx-auto d-flex flex-column px-md-5"
       *ngIf="!isLoading; else loading">
    <h2 class="text-center mb-5">Popis uređaja</h2>
    <button mat-raised-button
            color="primary"
            class="mx-auto mb-5"
            (click)="showForm()">
      DODAJ NOVI UREĐAJ
    </button>
    <ng-container *ngIf="formVisible">
      <form [formGroup]="deviceForm"
            (ngSubmit)="onSubmit()">
        <div class="mx-auto d-flex flex-column justify-content-center align-items-center">
          <mat-form-field appearance="outline">
            <mat-label>
              ID UREĐAJA:
            </mat-label>
            <input matInput
                   type="text"
                   formControlName="deviceId">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>
              LOKACIJA:
            </mat-label>
            <input matInput
                   type="text"
                   formControlName="location">
          </mat-form-field>
          <mat-error *ngIf="!isUniqueId()"
                     class="text-center mb-3">Uređaj već unesen!</mat-error>
          <button mat-raised-button
                  type="submit"
                  class="py-3 mb-5"
                  [disabled]="!deviceForm.valid || !isUniqueId()">DODAJ</button>
        </div>
      </form>
    </ng-container>

    <div class="w-100 mx-auto">
      <mat-table [dataSource]="dataSource"
                 class="mat-elevation-z2 w-100" *ngIf="devices.length > 0; else noData">
        <ng-container matColumnDef="deviceId">
          <mat-header-cell *matHeaderCellDef>
            ID UREĐAJA
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.deviceId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef>
            LOKACIJA
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.location}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef>
            VRIJEME DODAVANJA
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.timestamp}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions"
                      justify="end">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"
                    class="float-end">
            <button class="p-0 ms-1 btn btn-danger px-3"
                    matTooltip="Obriši"
                    (click)="removeDevice(element.deviceId)">
              <i class="las la-trash-alt la-md"></i>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="mt-5 pt-5">
    <img src="../../../assets/Radio-1s-200px.svg"
         class="spinner mt-5">
  </div>
</ng-template>
<ng-template #noData>
  <h1 class="ms-4 mt-5 text-center">NEMA DODANIH UREĐAJA !</h1>
</ng-template>
